html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #3eaddc;
    color: #dbf4ff;
    text-shadow: none;
}

h1 {
    font-family: 'Courgette', cursive;
    text-shadow: 0px 3px 0px black;
    color: white;
    font-size: 50px;
    text-align: center;
}

/* First full page image */
#landing-img {
    min-height: 500px;
    height: 100vh;
    background: url(img/landing-dark.jpg) top no-repeat;
    background-size: cover;
    position: relative;
}

#landing-img button {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    background-color: transparent;
    transition: .5s;
    transition-delay: .5s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}
#landing-img button:hover {
    color: #dbf4ff;
    background-color: #3eaddc;
    border-color: #dbf4ff;
    transition-delay: 0s;
}

#landing-img .titlesvg {
    width: 50%;
    min-width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#landing-img text {
    fill: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Courgette', cursive;
    text-shadow: 0px 10px 0px black;
}

#landing-img h4 {
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
}

#landing-img .title {
    position: relative;
    top: 24vh;
    transform: translateY(-50%);
}

#landing-img-light {
    position: absolute;
    top: 0;
    z-index: 0; 
    height: 100%;
    min-height: 500px;
    width: 100%;
    background: url(img/landing-light.jpg) top no-repeat;
    background-size: cover;
    clip-path: circle(0% at 50% 80%);
    transition: all 1s ease;
}

#parrain-btn:hover + #landing-img-light {
    clip-path: circle(100% at 50% 80%);
}


/* nav bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    margin-left: 0;
    display: table-column;
    background: rgba(0,0,0,.2);
    width: 80px;
    transition: all .5s ease;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: inherit;
}
nav a {
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
nav li {
    height: 19%;
    text-align: center;
}
nav li:first-child {
    margin-bottom: 10%;
}
nav img {
    height: 35px;
    filter: brightness(10);
    transition: all .3s ease;
}
.logo {
    height: 60px;
    margin: 10px;
    filter: brightness(1);
}
.a_logo {
    top: 20%;
    color: #3eaddc;
    font-weight: bold;
}
nav p {
    margin: 10px;
    white-space: nowrap;
    position: relative;
    transition: all .7s ease;
    opacity: 0;
    text-align: center;
    right: 250px;
}
nav a:hover {
    color: #3eaddc;
}
nav a:hover img {
    filter: brightness(1);
}


/* About section */
.bg-animated {
    background: linear-gradient(228deg, #89f7fe, #66a6ff);
    background-size: 150% 150%;

    -webkit-animation: Animated-bg 10s ease infinite;
    -moz-animation: Animated-bg 10s ease infinite;
    -o-animation: Animated-bg 10s ease infinite;
    animation: Animated-bg 10s ease infinite;
}

.svg-bg {
    -webkit-animation: svg-bg 20s ease infinite;
    -moz-animation: svg-bg 20s ease infinite;
    -o-animation: svg-bg 20s ease infinite;
    animation: svg-bg 20s ease infinite;

    filter: url(#dropshadow);
}
.svg-bg-d {
    -webkit-animation: svg-bg-d 20s 3s ease infinite;
    -moz-animation: svg-bg-d 20s 3s ease infinite;
    -o-animation: svg-bg-d 20s 3s ease infinite;
    animation: svg-bg-d 20s 3s ease infinite;

    filter: url(#dropshadow);
}

@-webkit-keyframes Animated-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animated-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Animated-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animated-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-webkit-keyframes svg-bg {
    0%, 100%{fill: #7dd9fe;}
    50%{fill: #71c0ff;}
}
@-moz-keyframes svg-bg {
    0%, 100%{fill: #7dd9fe;}
    50%{fill: #71c0ff;}
}
@-o-keyframes svg-bg {
    0%, 100%{fill: #7dd9fe;}
    50%{fill: #71c0ff;}
}
@keyframes svg-bg {
    0%, 100%{fill: #7dd9fe;}
    50%{fill: #71c0ff;}
}

@-webkit-keyframes svg-bg-d {
    0%, 100%{fill: #71c0ff;}
    50%{fill: #7dd9fe;}
}
@-moz-keyframes svg-bg-d {
    0%, 100%{fill: #71c0ff;}
    50%{fill: #7dd9fe;}
}
@-o-keyframes svg-bg-d {
    0%, 100%{fill: #71c0ff;}
    50%{fill: #7dd9fe;}
}
@keyframes svg-bg-d {
    0%, 100%{fill: #71c0ff;}
    50%{fill: #7dd9fe;}
}

#top-about {
    width: 20%;
    position: absolute !important;
    left: 0;
    top: 0;
}
#bottom-about {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    right: 0;
}
#about {
    padding: 60px 80px;
    max-width: 100vw;
    text-align: center;
    color: white;
    position: relative;
}
#about * {
    position: relative;
    z-index: 3;
}
#about ul {
    list-style: none;
    text-align: center;
}
#about li {
    border-radius: 20px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 5px 11px #00000029;
}
#about p {
    margin: 40px 45px;
    text-align: justify;
    font-size: 18px;
}
#about h2 {
    font-family: 'Courgette', cursive;
    font-size: 35px;
}
#about .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    padding: 0 40px;
}
#about img {
    clip-path: circle(50%);
    height: 250px;
    transition: all .5s ease;
    text-align: center;
}
#about img:hover {
    height: 260px;
}


/* Donation section */
#donation {
    background: url(img/donation1-d.jpg) center no-repeat;
    background-size: cover;
    color: white;
    min-height: 800px;
    z-index: -2;
    transition: all .5s ease;
}
#donation .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: inherit;
}
#donation h1 {
    padding: 90px 0 60px 0;
}
#donation .container {
    margin: 0 85px;
    padding-bottom: 200px;
}
#donation h1, #donation .container {
    position: relative;
    z-index: 3;
}
#donation p {
    margin: 0 85px;
    text-shadow: -1px 4px 2px black;
    font-size: 20px;
}
#donation button {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    background-color: transparent;
    transition: .5s;
    transition-delay: .5s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    z-index: 3;
    cursor: pointer;
}
#donation button:hover {
    color: rgb(218, 159, 11);
    background-color: rgb(255, 230, 0);
    border-color: rgb(218, 159, 11);
    transition-delay: 0s;
}
#donation-light-bg {
    height: 100%;
    width: 100%;
    background: url(img/donation1-l.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 0;
    clip-path: circle(0% at 50% 85%);
    transition: 1s;
}
#donation button:hover ~ #donation-light-bg {
    clip-path: circle(100% at 50% 85%);
}


/* Testimonial section */
.swiper-container {
    margin: 400px 85px;
    padding: 30px;
    max-width: 900px;
}
.swiper-slide {
    text-align: center;
    height: auto;
    min-height: 300px;
    box-shadow: 0px 5px 11px #00000029;
    background: white;
    border-radius: 5px;
    width: auto;
}
.swiper-button-prev, .swiper-button-next {
    background: rosybrown;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}